* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-image: url(texture3.png);
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

article {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

div > div {
    font-size: 20px;
    text-align: center;
    width: 60%;
    padding-left: 20%;
    background-color: silver;
    color: aqua;
}

footer {
    background-image: url(cs2.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}
footer a, footer a:visited{
    color: white;
    text-decoration: none;
    display: block;
}

p {
    text-indent: 50px;
}

article a{
    color: purple;
    background-color: transparent;
    text-decoration: none;
    display: inline;
}

article h2 {
    font-size: 35px;
}

article p {
    font-size: 20px;
}

.break {
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

nav {
    padding-top: 0px;
    text-align: center;
    background-image: url(cs2.jpg);
    width:auto;
    padding-bottom: 20px;
}

h1 {
    color: white;
    font-size: 60px;
    padding-bottom: 20px;
}

nav a:link, a:visited {
    text-decoration: none;
    background-color: white;
    color: purple;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}

nav a:hover, nav a:active, #active {
    background-color: purple;
    color: white;
    border-color: white;
}